:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--violet);
  background-image: url('images/bg-mobile.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 992px) {
  body {
    background-image: url('images/bg-desktop.svg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
  }
}

h2, button {
  font-family: 'Poppins', sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.img-container img {
  max-width: 100%;
}

header .logo-container {
  width: 130px;
  margin-top: 25px;
}

main {
  padding-top: 50px;
  padding-bottom: 50px;
}

main .content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

main .content .details {
  text-align: center;
  color: white;
}

main .content .details .preview {
  max-width: 480px;
  margin: auto;
  line-height: 1.6;
  margin-top: 17px;
  margin-bottom: 20px;
}

main .content .details .register-btn {
  color: black;
  background-color: white;
  width: 200px;
  padding: 10px;
  font-weight: 400;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 2px 5px black;
  transition: color .3s , background-color .3s;
}

main .content .details .register-btn:hover {
  background-color: var(--soft-magenta);
  color: white;
}

footer .social-icons {
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

footer .social-icons .icon-container {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border .3s;
}

footer .social-icons .icon-container:hover {
  border-color: var(--soft-magenta);
}

footer .social-icons .icon-container .icon {
  fill: white;
}

footer .social-icons .icon-container:hover .icon {
  fill: var(--soft-magenta);
}

@media (min-width: 992px) {
  header .logo-container {
    width: 170px;
    margin-top: 40px;
  }

  main {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  main .content {
    flex-direction: row;
    align-items: center;
    gap: 80px;
  }

  main .content .details {
    text-align: left;
  }

  main .content .details .title {
    font-size: 30px;
    max-width: 400px
  }

  main .content .details .register-btn {
    width: 180px;
    padding: 13px;
    margin-top: 5px;
    font-size: 16px;
  }
  
  footer .social-icons {
    justify-content: flex-end;
  }

  footer .social-icons .icon-container {
    width: 35px;
    height: 35px;
  }

  footer .social-icons .icon-container .icon {
    font-size: 17px;
  }
}




